body{
	background: #FFFFFF;
	color: #898989;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.02em;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 0;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font-family: 'Noto Sans SC', sans-serif;
	font-weight: 700;
	color: #58330a;
	font-size: 40px;
}

h2 {
	font-family: 'Noto Sans SC', sans-serif;
	font-weight: 700;
	color: #58330a;
	font-size: 60px;
}

h3 {
	font-family: 'Noto Sans SC', sans-serif;
	font-weight: 400;
	color: #58330a;
	font-size: 32px;
}

h4 {
	font-family: 'Noto Sans SC', sans-serif;
	font-weight: 300;
	color: #58330a;
	font-size: 24px;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #666666;
}

a {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #840705;
}

a:hover {
	color: #ffc2a9;
}

.footer {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #666666;
}

select {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #51EAEA;
}

.color-section {
	background: #fffbed;
	width: 100%;
}

.row {
	display: flex;
}

.padsection {
	padding-top: 30px;
	padding-bottom: 20px;
}

.b-container {
	display: inline-block;
	text-align: left;
	width: 100%;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 80px;
	padding-right: 80px;
}

/* grid layout */

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* page header */

.padheader {
	padding-top: 30px;
	padding-bottom: 10px;
}

.container {
	display: inline-block;
	width: 100%;
	margin-left: 80px;
	margin-right: 80px;
	padding-left: 10px;
	padding-right: 10px;
}

.logo {
	float: left;
	padding: 10px;
}

.logo img {
	width: 570px;
	max-width: 80%;
	max-height: auto;
}

img {
	vertical-align: middle;
}

.text-center {
	text-align: center;

}

.site-title {
	display: flex;
	align-items: center;
}

.site-title-container {
	max-width: 85%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 30px;
	padding-right: 200px;
}

.flex-header {
	display: flex;
	line-height: 50px;
}

/* Data upload */
.upload-obj {
	width: 80%;
	height: 60px;
	line-height: 60px;
	border-width: 1px;
	border-style: dashed;
	border-radius: 5px;
	text-align: center;
}

.obj-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Table */
th, td {
	padding: 15px;
	text-align: center;
}

/* Graph */
.graph {
	width: 80%;
	height: auto;
	margin: 20px;
}

/* Dropdown */
.graph-opts {
	display: block;
	width: 20%;
	margin: 10px;
	align-items: left;
	margin-top: 10px;
	margin-bottom: 140px;
}


/* Palette 6 - Used in mockup version 1
 * Accent #ffc2a9
 * Links and navbar accent #840705
 * Background 1 #ffffff
 * Background 2 #fffbed
 * Navbar background #fff4ce
 * Headers #58330a
 * Light grey 1 #ebebeb
 * Medium grey 2 #a6a6a6
 * Body text #666666
 * Black 1 #000000
 * Table header text #232323
*/
